@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323..603,25..135,649..854,-305..-98,560..788,416..570,528..760&display=swap');


body {
  font-family: roboto flex;
  font-weight: 200;
  font-variation-settings: 'wght'300;
}
h1 {

}
* {
  font-weight: 200;
}
.search {
  display: grid;
  grid-template-columns: clamp(10rem, 5vw, 15rem) minmax(auto, 48rem);
  gap: 0 4rem;
}
.search__title {
  font-family: 'roboto flex';
  font-weight: normal;
  font-size: clamp(2rem, 3vw, 4rem);
  margin-top: 1rem;
  margin-bottom: 0;
  font-variation-settings:
    "wght" 650,
    "slnt" 0,
    "wdth" 151,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
  display: flex;
  i {
    margin-inline-end: 1.3rem;
  }
}
.result__title {
  font-variation-settings: 'wght'460, 'wdth'151;

}
.logo {
  justify-self: start;
  opacity: 0.9;
  grid-row: 1/3;
  align-self: stretch;
  justify-self: stretch;
  height: 100%;
}
.card {
  border: none;
  font-size: 1.2rem;
  box-shadow: 0 .6rem 1rem -.2rem #ffa10030, -.32rem -.3rem .3rem -.2rem hsla(249,100%,50%,0.08);
}
.card__title {
  &::marker {
    color: rgb(196,181,255);
    font-size: .8rem;
  }
}
.result__container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  .card {
    padding: 2rem;
    display: grid;
    justify-content: start;
    border-left: 5px solid #0001;
  }
}
.search__form {
  /*border: 1px solid #000;*/
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  @media (min-width: 60rem) {
    padding-inline: 5rem;
  }
}
#year {
  border: 1px solid #000;
  flex-grow: 1;
}
.search__submit {
  margin-inline: .8rem;

  @media (min-width: 60rem) {
    padding-inline: 3rem;
    margin-inline-start: 3rem;
  }
  /*margin-inline-start: auto;*/
}
